.fot{
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0px;
    top: 950px;
    font-family: 'NT Somic', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    text-decoration: none;

    align-items: center;
    text-align: right;
    color: #9E9E9E;
    background: #FFFFFF;

}